/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4 !important; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.btn {
  display: inline-block;
  padding: 0.75em 1.5em;
  background-color: #ff6600;
  color: #fff;
  border-radius: 5px;
  margin-top: 1em;
  font-weight: 700;
  transition: background-color 0.4s ease;
  cursor: pointer; }
  .btn:hover {
    background-color: #00fff0;
    color: #000; }

.back-arrow {
  position: absolute;
  top: 1em;
  left: 1em;
  font-size: 1.5em;
  color: #fff;
  padding: 0.25em;
  cursor: pointer;
  background: #2b2828;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; }

header {
  background-color: #000;
  color: #fff;
  padding: 1em 0;
  font-weight: 700; }
  header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    background-color: #000; }
    header .navbar .logo a {
      font-size: 2em;
      color: #fff; }
      header .navbar .logo a:active {
        color: #00fff0; }
    header .navbar .logo div {
      font-size: 0.8em;
      position: relative;
      left: 7rem; }
    header .navbar .menu-toggle {
      display: none;
      font-size: 1.5em;
      color: #fff;
      background: none;
      border: none;
      cursor: pointer; }
    header .navbar .nav-links {
      display: flex;
      gap: 1.5em; }
      header .navbar .nav-links li a {
        color: #fff;
        display: inline-block;
        transition: transform 0.3s ease; }
        header .navbar .nav-links li a:hover {
          transform: scale(1.3);
          color: #00fff0; }

main .hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../img/fondoprincipal.jpeg") no-repeat center center/cover fixed;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  main .hero-section .hero-content {
    max-width: 600px;
    margin: 0 auto;
    animation: fadeIn 2s ease-in-out; }
    main .hero-section .hero-content h1 {
      font-size: 3em; }
    main .hero-section .hero-content p {
      font-size: 1.2em;
      margin: 1em 0; }
    main .hero-section .hero-content .btn {
      display: inline-block;
      padding: 0.75em 1.5em;
      background-color: #ff6600;
      color: #fff;
      border-radius: 5px;
      font-weight: 700;
      transition: background-color 0.4s ease;
      cursor: pointer;
      margin-top: 1em; }
      main .hero-section .hero-content .btn:hover {
        background-color: #cc5200; }
      main .hero-section .hero-content .btn:hover {
        background-color: #00fff0;
        color: #000; }

main .store-section {
  background: url("../img/fondoprimario.jpg");
  padding: 2em 1em;
  text-align: center; }
  main .store-section h2 {
    color: #00fff0;
    text-shadow: 3px 3px 1px #000;
    font-size: 2em;
    margin-bottom: 1em; }
  main .store-section .products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em; }
    main .store-section .products .product {
      background-color: #fff;
      border: 1px solid #ddd;
      padding: 1em;
      width: 200px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
      transition: transform 0.3s ease; }
      main .store-section .products .product:hover {
        transform: translateY(-5px); }
      main .store-section .products .product img {
        max-width: 100%;
        height: auto; }
      main .store-section .products .product h3 {
        margin: 0.5em 0; }
      main .store-section .products .product .btn {
        display: inline-block;
        padding: 0.75em 1.5em;
        background-color: #ff6600;
        color: #fff;
        border-radius: 5px;
        font-weight: 700;
        transition: background-color 0.4s ease;
        cursor: pointer;
        margin-top: 1em; }
        main .store-section .products .product .btn:hover {
          background-color: #cc5200; }
        main .store-section .products .product .btn:hover {
          background-color: #00fff0;
          color: #000; }

main .subscribe-section {
  display: flex;
  justify-content: center;
  padding: 1.5em; }
  main .subscribe-section .suscribe {
    display: flex;
    width: 100%;
    max-width: 1200px; }
    main .subscribe-section .suscribe img {
      width: 50%;
      height: auto;
      margin-right: 1.5em; }
    main .subscribe-section .suscribe div {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 1.5em; }
      main .subscribe-section .suscribe div div {
        font-size: 1.5em;
        margin-bottom: 1em;
        color: #007bff; }
      main .subscribe-section .suscribe div h2 {
        margin-bottom: 1em; }
      main .subscribe-section .suscribe div p {
        margin-bottom: 1em; }
      main .subscribe-section .suscribe div input {
        flex: 1;
        padding: 1em;
        border: 1px solid #ddd;
        border-radius: 4px; }
      main .subscribe-section .suscribe div .btn {
        display: inline-block;
        padding: 0.75em 1.5em;
        background-color: #ff6600;
        color: #fff;
        border-radius: 5px;
        font-weight: 700;
        transition: background-color 0.4s ease;
        cursor: pointer;
        margin-top: 1em; }
        main .subscribe-section .suscribe div .btn:hover {
          background-color: #cc5200; }
        main .subscribe-section .suscribe div .btn:hover {
          background-color: #00fff0;
          color: #000; }

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1em;
  transition: transform 0.3s ease; }
  .product-card:hover {
    transform: scale(1.05); }
  .product-card div .product-title {
    font-size: 1.2em;
    font-weight: bold; }
  .product-card div .product-description {
    font-size: 0.8em;
    color: #666; }
  .product-card div .btn {
    display: inline-block;
    padding: 0.75em 1.5em;
    background-color: #ff6600;
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    transition: background-color 0.4s ease;
    cursor: pointer;
    margin-top: 1em; }
    .product-card div .btn:hover {
      background-color: #cc5200; }
    .product-card div .btn:hover {
      background-color: #00fff0;
      color: #000; }

main .contact-section {
  display: grid;
  place-items: center;
  min-height: 60vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../img/fondocontact.jpg") no-repeat center center/cover; }
  main .contact-section .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    width: 100%;
    max-width: 750px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 10px;
    padding: 2em 3em; }
    main .contact-section .wrapper form h1 {
      font-size: 2em;
      text-align: center; }
    main .contact-section .wrapper form .input-box {
      grid-column: span 1;
      height: 60px;
      margin: 1em 0; }
      main .contact-section .wrapper form .input-box .input {
        width: 100%;
        height: 100%;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, 0.2);
        border-radius: 40px;
        font-size: 1em;
        color: #fff;
        padding: 1.5em 3em 1.5em 1.5em;
        overflow: hidden; }
        main .contact-section .wrapper form .input-box .input::placeholder {
          color: #fff; }
    main .contact-section .wrapper form button {
      grid-column: span 1;
      width: 100%;
      height: 45px;
      border: none;
      border-radius: 40px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      font-size: 1em; }

.contact-section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-color: #f4f4f4; }
  .contact-section2 .info-container {
    display: flex;
    width: 85%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden; }
    .contact-section2 .info-container .map-container {
      flex: 1;
      min-width: 300px;
      height: 300px;
      border-right: 1.5px solid #ddd; }
    .contact-section2 .info-container .contact-info {
      flex: 1;
      padding: 1.5em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .contact-section2 .info-container .contact-info h2 {
        margin-top: 0; }
      .contact-section2 .info-container .contact-info p {
        margin: 0.5em 0; }
        .contact-section2 .info-container .contact-info p strong {
          font-weight: bold;
          color: #333; }

.back-arrow {
  position: absolute;
  top: 1em;
  left: 1em;
  font-size: 1.5em;
  color: #fff;
  padding: 0.25em;
  cursor: pointer;
  background: #2b2828;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; }

main .testimonial-section {
  background-color: #fff;
  padding: 3em 1em;
  text-align: center; }
  main .testimonial-section .testimonial-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
    main .testimonial-section .testimonial-wrapper h1 {
      font-size: 3em;
      margin-bottom: 1.5em;
      text-transform: uppercase; }
    main .testimonial-section .testimonial-wrapper h2 {
      font-size: 2em;
      color: #ff6600;
      margin-bottom: 1em; }
    main .testimonial-section .testimonial-wrapper .testimonials {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 2em; }
      main .testimonial-section .testimonial-wrapper .testimonials .testimonial {
        background-color: #2b2828;
        color: #fff;
        padding: 1.5em;
        border-radius: 10px;
        width: 30%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 2em; }
        main .testimonial-section .testimonial-wrapper .testimonials .testimonial p {
          font-size: 1.2em;
          margin-bottom: 1em;
          font-style: italic; }
        main .testimonial-section .testimonial-wrapper .testimonials .testimonial span {
          display: block;
          font-weight: bold;
          font-size: 1em;
          margin-top: 0.5em; }

main .faq-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
  main .faq-wrapper h2 {
    font-size: 2em;
    color: #ff6600;
    margin-bottom: 1em; }
  main .faq-wrapper .faq {
    text-align: left;
    margin-top: 2em; }
    main .faq-wrapper .faq .faq-item {
      margin-bottom: 2em; }
      main .faq-wrapper .faq .faq-item h3 {
        font-size: 1.5em;
        color: #ff6600;
        margin-bottom: 0.5em; }
      main .faq-wrapper .faq .faq-item p {
        font-size: 1.2em;
        color: #333; }

.back-arrow {
  position: absolute;
  top: 1em;
  left: 1em;
  font-size: 1.5em;
  color: #fff;
  padding: 0.25em;
  cursor: pointer;
  background: #2b2828;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; }

main .about-section {
  padding: 3em 1em;
  text-align: center;
  background-color: #f4f4f4; }
  main .about-section .container h1 {
    font-size: 3em;
    color: #ff6600;
    margin-bottom: 1em; }
  main .about-section .container p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 1.5em;
    line-height: 1.6;
    text-align: justify; }
  main .about-section .container h3 {
    font-size: 2em;
    color: #ff6600;
    margin-bottom: 1em; }

footer .container div .social-links {
  display: flex;
  gap: 1em; }
  footer .container div .social-links li a {
    color: #fff;
    font-size: 1.5em;
    transition: color 0.3s ease; }
    footer .container div .social-links li a:hover {
      color: #00fff0; }

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background: none;
    position: relative;
    padding: 0; }
    .nav-links.active {
      display: flex; }
    .nav-links li {
      margin: 0;
      text-align: center; }
      .nav-links li a {
        padding: 1em;
        display: block;
        color: #fff;
        text-decoration: none; }
  .menu-toggle {
    display: block; }
  .hero-section {
    height: auto;
    padding: 2em 1em; }
    .hero-section .hero-content h1 {
      font-size: 2em; }
    .hero-section .hero-content p {
      font-size: 1em; }
  .products {
    flex-direction: column;
    align-items: center; }
  .subscribe-section .suscribe {
    flex-direction: column;
    text-align: center;
    align-items: center; }
    .subscribe-section .suscribe img {
      margin-bottom: 1rem; }
    .subscribe-section .suscribe div {
      text-align: center; }
  .contact-section2 {
    height: auto;
    padding: 1em; }
    .contact-section2 .info-container {
      flex-direction: column;
      width: 100%; }
      .contact-section2 .info-container .map-container {
        width: 100%;
        height: 300px;
        border-right: none;
        border-bottom: 1.5px solid #cccccc;
        flex: 2; }
      .contact-section2 .info-container .contact-info {
        width: 100%;
        padding: 1em;
        text-align: center;
        flex: 1; }
  .testimonials {
    flex-direction: column;
    align-items: center; }
    .testimonials .testimonial {
      width: 80%; } }
