/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4 !important;
}

header {
    background-color: #000;
    color: #fff;
    padding: 1em 0;
    font-weight: 700;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    background-color: #000;
}

.logo a {
    font-size: 2em;
    color: #fff;
}

.logo a:active {
    color: #00fff0;
}

.logo div {
    font-size: 0.8em;
    position: relative;
    left: 7rem;
}

.menu-toggle {
    display: none;
    font-size: 1.5em;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 1.5em;
}

.nav-links li a {
    color: #fff;
    display: inline-block;
    transition: transform 0.3s ease;
}

.nav-links li a:hover {
    transform: scale(1.3);
}

/* Secciones */

/* Sección principal */
.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.5)),
        url('../img/fondoprincipal.jpeg') no-repeat center center/cover fixed;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
    animation: fadeIn 2s ease-in-out;
}

.hero-content h1 {
    font-size: 3em;
}

.hero-content p {
    font-size: 1.2em;
    margin: 1em 0;
}

.btn {
    display: inline-block;
    padding: 0.75em 1.5em;
    background-color: #ff6600;
    color: #fff;
    border-radius: 5px;
    margin-top: 1em;
    font-weight: 700;
    transition: background-color 0.4s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: #00fff0;
    color: #000;
}

/* Sección destacados */
.store-section {
    background: url('../img/fondoprimario.jpg');
}

.store-section h2 {
    color: #00fff0;
    text-shadow: 3px 3px 1px #000;
}

.store-section,
.about-section,
.contact-section,
.subscribe-section {
    padding: 2em 1em;
    text-align: center;
}

.store-section h2,
.about-section h2,
.contact-section h2,
.subscribe-section h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1em;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h3 {
    margin: 0.5em 0;
}

/* Sección sobre nosotros */
.about-section {
    background-color: #eee;
    padding: 3em;
}

.about-section p {
    font-size: 1.5em;
}

/* Sección de contacto */
.back-arrow {
    position: absolute;
    top: 1em;
    left: 1em;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    padding: 0.25em;
    cursor: pointer;
    background: #2b2828;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Sección #1 */
.contact-section {
    display: grid;
    place-items: center;
    min-height: 60vh;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.5)),
        url("../img/fondocontact.jpg") no-repeat center center/cover;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    max-width: 750px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.input-box {
    grid-column: span 1; /* Ocupa toda la columna en grid */
    height: 60px;
    margin: 15px 0;
}

.input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    overflow: hidden;
}

.input::placeholder {
    color: #fff;
}

.contact-section button {
    grid-column: span 1;
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
}

/* Sección #2 */
.contact-section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: #e0e0e0;
}

.info-container {
    display: flex;
    width: 85%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.map-container {
    flex: 1;
    min-width: 300px;
    height: 300px;
    border-right: 1.5px solid #cccccc;
}

.contact-info {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-info h2 {
    margin-top: 0;
}

.contact-info p {
    margin: 10px 0;
}

.contact-info strong {
    font-weight: bold;
    color: #333;
}

/* Sección suscribirse */
.subscribe-section {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.suscribe {
    display: flex;
    width: 100%;
    max-width: 1200px;
}

.suscribe img {
    width: 50%;
    height: auto;
    margin-right: 20px;
}

.suscribe>div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.suscribe>div>div {
    font-size: 24px;
    margin-bottom: 10px;
    color: #007bff;
}

.suscribe h2 {
    margin-bottom: 10px;
}

.suscribe p {
    margin-bottom: 10px;
}

.suscribe input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.product-description {
    font-size: 0.9rem;
    color: #666;
}

/* sección "sobre nosotros" */

.about-section h1,
.about-section h2,
.about-section h3 {
    font-size: 2em;
    color: #ff6600;
    margin-bottom: 1em;
}

.about-section h1 {
    font-size: 3em;
    /* sobreescribo */
}

.about-section p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 1.5em;
    line-height: 1.6;
    text-align: justify;
}

/* Sección de Testimonios y Preguntas Frecuentes */
.testimonial-section {
    background-color: #fff;
    padding: 3em 1em;
    text-align: center;
}

.testimonial-wrapper,
.faq-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial-wrapper h1 {
    font-size: 3em;
    /* color: #ff6600; */
    margin-bottom: 1.5em;
    text-transform: uppercase;
}

.testimonial-wrapper h2,
.faq-wrapper h2 {
    font-size: 2.5em;
    color: #ff6600;
    margin-bottom: 1em;
}

.testimonials {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2em;
}

.testimonial {
    background-color: #2b2828;
    color: #fff;
    padding: 1.5em;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2.5em;
}

.testimonial p {
    font-size: 1.2em;
    margin-bottom: 1em;
    font-style: italic;
}

.testimonial span {
    display: block;
    font-weight: bold;
    font-size: 1em;
    margin-top: 0.5em;
}

.faq {
    text-align: left;
    margin-top: 2em;
}

.faq-item {
    margin-bottom: 2em;
}

.faq-item h3 {
    font-size: 1.8em;
    color: #ff6600;
    margin-bottom: 0.5em;
}

.faq-item p {
    font-size: 1.2em;
    color: #333;
}


/* Pie de página */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    flex-wrap: wrap;
}

.social-links {
    display: flex;
    gap: 1em;
}

.social-links li a {
    color: #fff;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.nav-links a:hover,
.social-links li a:hover {
    color: #00fff0;
}

#cart-style:hover {
    color: #ff6600;
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Media Queries */
@media (max-width: 768px) {

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background: none;
        position: relative;
        padding: 0;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .nav-links li {
        margin: 0;
        text-align: center;
    }

    .nav-links li a {
        padding: 1em;
        display: block;
        color: #fff;
        text-decoration: none;
    }

    .hero-section {
        height: auto;
        padding: 2em 1em;
    }

    .hero-content h1 {
        font-size: 2em;
    }

    .hero-content p {
        font-size: 1em;
    }

    .products {
        flex-direction: column;
        align-items: center;
    }

    .subscribe-section .suscribe {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .subscribe-section .suscribe img {
        margin-bottom: 1rem;
    }

    .subscribe-section .suscribe div {
        text-align: center;
    }

    .contact-section2 {
        height: auto;
        padding: 1em;
    }

    .info-container {
        flex-direction: column;
        width: 100%;
    }

    .map-container {
        width: 100%;
        height: 300px;
        border-right: none;
        border-bottom: 1.5px solid #cccccc;
        flex: 2;
    }

    .contact-info {
        width: 100%;
        padding: 1em;
        text-align: center;
        flex: 1;
    }

    .testimonials {
        flex-direction: column;
        align-items: center;
    }

    .testimonial {
        width: 80%;
    }
}
