# Ignorar configuraciones de VSCode
.vscode/

# Ignorar Wireframe
Wireframe/

# json
node_modules/

# archivos propios de práctica y control
_estilos2.scss
_ejemplos.scss
style_copy.css
abbr.txt
mejoras.txt