/* sección sobre nosotros */
main {
    .about-section {
        background-color: $color-background-light;
        padding: $spacing-large;
        text-align: center;

        .container {
            h1 {
                font-size: $font-large;
                text-shadow: 3px 3px 2x $color-orange;
                font-family: 'Lobster', cursive;
                margin-top: $spacing-medium;
                margin-bottom: $spacing-small;
                display: inline-block;
                text-align: center;
                color: $color-subtle;
            }

            p {
                font-size: 1.7em;
                margin-bottom: $spacing-medium;
                text-align: justify;
            }

            h3 {
                font-size: $font-medium;
                text-shadow: 1px 1px 3px $color-primary;
                margin-top: $spacing-medium;
                margin-bottom: $spacing-small;
                display: inline-block;
                text-align: center;
                color: $color-subtle;
            }
        }
    }
}