footer {
    .container {
        div {
            p {
                // Puedes agregar estilos específicos para el párrafo aquí si es necesario
            }
            
            .social-links {
                display: flex;
                gap: $spacing-normal;

                li {
                    a {
                        color: $color-white;
                        font-size: $font-size-large;
                        transition: color 0.3s ease;
                        
                        &:hover {
                            color: $color-secondary;
                        }
                    }
                }
            }
        }
    }
}