/* barra de navegación */
.navbar {
    padding: 0 $spacing-medium;
    font-family: 'Lobster';

    .logo {
        a {
            font-size: $font-large;
            color: $color-white;

            span,
            &:active {
                color: $color-primary;
            }
        }

        div {
            position: relative;
            left: 14rem;
            font-size: $font-small;
        }
    }

    .menu-toggle {
        display: none;
        font-size: $font-medium;
        color: $color-white;
        background: none;
        border: none;
        cursor: pointer;
    }

    .nav-links {
        display: flex;
        gap: $spacing-medium;
        font-size: $font-medium;
        overflow: hidden;

        li {
            margin: 0 $spacing-small;

            a {
                color: $color-white;
                display: inline-block;
                @include transition(transform, 0.5s, ease);

                span {
                    color: $color-accent;
                }

                &:hover {
                    @include transform-scale(1.4);
                    color: $color-accent;
                }
            }
        }
    }
}