header {
    background-color: $color-black;
    color: $color-white;
    padding: $spacing-normal 0;
    font-weight: 700;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 $spacing-large;
        background-color: $color-black;

        .logo {
            a {
                font-size: $font-size-xlarge;
                color: $color-white;

                &:active {
                    color: $color-secondary;
                }
            }

            div {
                font-size: $font-size-small;
                position: relative;
                left: 7rem;
            }
        }

        .menu-toggle {
            display: none;
            font-size: $font-size-large;
            color: $color-white;
            background: none;
            border: none;
            cursor: pointer;
        }

        .nav-links {
            display: flex;
            gap: $spacing-medium;

            li {
                a {
                    color: $color-white;
                    display: inline-block;
                    transition: transform 0.3s ease;

                    &:hover {
                        transform: scale(1.3);
                        color: $color-secondary;
                    }
                }
            }
        }
    }
}