/* sección de la tienda con Grid System de Bootstrap */
.product-card {
    border: 1px solid #ddd;
    border-radius: $border-radius;
    padding: $spacing-small;
    @include transition(transform, 0.3s, ease);
    cursor: pointer;

    &:hover {
        @include transform-scale(1.05);
        box-shadow: 0 0 5px $color-primary;
    }

    div {
        .product-title {
            font-weight: bold;
        }

        .product-description {
            color: $color-subtle;
        }

        .btn {
            @include button($color-primary, $color-white);

            &:hover {
                background-color: $color-accent;
                color: $color-subtle;
            }
        }
    }
}