/* sección de testimonios y preguntas frecuentes */
main {
    .testimonial-section {
        background-color: $color-background-light;
        padding: $spacing-large $spacing-small;
        text-align: center;

        .testimonial-wrapper {
            max-width: 1200px;
            margin: 0 auto;
            padding: $padding-normal;
            background-color: $color-background-light;
            border-radius: $border-radius;
            box-shadow: $box-shadow-light;

            h1 {
                font-size: $font-large;
                margin-bottom: $spacing-medium;
                text-transform: uppercase;
            }

            h2 {
                font-size: $font-medium;
                color: $color-orange;
                margin-bottom: $spacing-small;
            }

            .testimonials {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                gap: $spacing-medium;

                .testimonial {
                    background-color: #2b2828;
                    color: $color-white;
                    padding: $spacing-medium;
                    border-radius: $border-radius;
                    width: 30%;
                    box-shadow: $box-shadow-light;
                    margin-bottom: 2.5em;

                    p {
                        font-size: $font-small;
                        margin-bottom: $spacing-small;
                        font-style: italic;
                    }

                    span {
                        font-weight: bold;
                        font-size: $font-small;
                    }
                }
            }
        }
    }

    .faq-wrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding: $padding-normal;
        background-color: $color-background-light;
        border-radius: $border-radius;
        box-shadow: $box-shadow-light;

        h2 {
            font-size: $font-medium;
            color: $color-orange;
            margin-bottom: $spacing-small;
        }

        .faq {
            text-align: left;

            .faq-item {
                margin-bottom: $spacing-large;

                h3 {
                    font-size: 1.8em;
                    color: $color-heading;
                    margin-bottom: $spacing-xsmall;
                }

                p {
                    font-size: $font-medium;
                    color: $color-subtle;
                }
            }
        }
    }
}