.back-arrow {
    @include back-arrow;
}

main {
    .testimonial-section {
        background-color: $color-white;
        padding: $spacing-xlarge $spacing-normal;
        text-align: center;

        .testimonial-wrapper {
            max-width: 1200px;
            margin: 0 auto;
            padding: $spacing-large;
            background-color: $color-background;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba($color-black, 0.1);

            h1 {
                font-size: $font-size-xxlarge;
                //  color: $color-primary;
                margin-bottom: $spacing-medium;
                text-transform: uppercase;
            }

            h2 {
                font-size: $font-size-xlarge;
                color: $color-primary;
                margin-bottom: $spacing-normal;
            }

            .testimonials {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                gap: $spacing-large;

                .testimonial {
                    background-color: #2b2828;
                    color: $color-white;
                    padding: $spacing-medium;
                    border-radius: 10px;
                    width: 30%;
                    box-shadow: 0 0 10px rgba($color-black, 0.1);
                    margin-bottom: $spacing-large;

                    p {
                        font-size: $font-size-medium;
                        margin-bottom: $spacing-normal;
                        font-style: italic;
                    }

                    span {
                        display: block;
                        font-weight: bold;
                        font-size: $font-size-normal;
                        margin-top: $spacing-small;
                    }
                }
            }
        }
    }

    .faq-wrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding: $spacing-large;
        background-color: $color-background;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba($color-black, 0.1);

        h2 {
            font-size: $font-size-xlarge;
            color: $color-primary;
            margin-bottom: $spacing-normal;
        }

        .faq {
            text-align: left;
            margin-top: $spacing-large;

            .faq-item {
                margin-bottom: $spacing-large;

                h3 {
                    font-size: $font-size-large;
                    color: $color-primary;
                    margin-bottom: $spacing-small;
                }

                p {
                    font-size: $font-size-medium;
                    color: $color-text;
                }
            }
        }
    }
}