// clases reutilizadas y los estilos generales
// las clases particulares que modifican algo de bootstrap también van acá..
//  también van reset, importación de fonts, etc..


/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4 !important;
}

header {
    background-color: $color-black;
    color: $color-white;
    padding: $spacing-normal 0;
    font-weight: 700;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

// clases reutilizables
.btn {
    display: inline-block;
    padding: 0.75em 1.5em;
    background-color: #ff6600;
    color: #fff;
    border-radius: 5px;
    margin-top: 1em;
    font-weight: 700;
    transition: background-color 0.4s ease;
    cursor: pointer;

    &:hover {
        background-color: #00fff0;
        color: #000;
    }
}

.back-arrow {
    position: absolute;
    top: 1em;
    left: 1em;
    font-size: 1.5em;
    color: #fff;
    padding: 0.25em;
    cursor: pointer;
    background: #2b2828;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}