/* Media Queries */

@media (max-width: 1195px) {

    /* barra de navegación */
    .logo a {
        font-size: $font-medium;
    }

    .logo div {
        left: 12rem;
        font-size: $font-xsmall;
    }

    .nav-links {
        gap: $spacing-small;
        font-size: 1.3em;
    }

    /* sección destacados */
    .store-section h2 {
        font-size: $font-medium;
    }

    .product {
        width: 230px;
    }

    /* sección de testimonios y preguntas frecuentes */
    .testimonial-wrapper h1 {
        font-size: 2.1em;
    }
}

@media (max-width: 860px) {

    /* barra de navegación */
    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        text-align: center;
    }

    .nav-links li a {
        margin-top: $spacing-small;
    }

    /* sección principal */
    .hero-section {
        border-radius: 0;
    }
    .hero-section div h1 {
        font-size: $font-medium;
    }

    /* sección destacados */
    .temporada {
        display: none;
    }

    .products {
        flex-direction: column;
        align-items: center;
    }

    .product {
        width: 300px;
    }

    /* sección presentación */
    .about-preview h2 {
        font-size: 30px;
    }

    .about-preview p {
        font-size: 20px;
    }

    /* sección suscripción */
    .subscribe-section .suscribe {
        flex-direction: column;
        align-items: center;
    }

    .suscribe img {
        margin-bottom: $spacing-small;
    }

    .suscribe div p {
        display: none;
    }

    /* sección sobre nosotros */
    .about-section h1 {
        font-size: $font-large;
    }

    .about-section h3 {
        font-size: 2.2rem;
    }

    .about-section p {
        font-size: 1.4em;
    }

    /* sección de ubicación y contacto */
    .contact-section2 {
        height: auto;
        padding: $spacing-small;
    }

    .info-container {
        flex-direction: column;
        width: 100%;
    }

    .map-container {
        width: 100%;
        border-bottom: 1.5px solid #cccccc;
    }

    .contact-info {
        width: 100%;
        padding: $spacing-small;
        text-align: center;
    }

    /* sección de testimonios y preguntas frecuentes */
    .testimonial {
        width: 65%;
    }

    .faq-item p {
        font-size: 1.3em;
    }
}
