

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background: none;
        position: relative;
        padding: 0;

        &.active {
            display: flex;
        }

        li {
            margin: 0;
            text-align: center;

            a {
                padding: 1em;
                display: block;
                color: $white;
                text-decoration: none;
            }
        }
    }

    .menu-toggle {
        display: block;
    }

    .hero-section {
        height: auto;
        padding: 2em $padding-responsive;

        .hero-content {
            h1 {
                font-size: 2em;
            }

            p {
                font-size: 1em;
            }
        }
    }

    .products {
        flex-direction: column;
        align-items: center;
    }

    .subscribe-section .suscribe {
        flex-direction: column;
        text-align: center;
        align-items: center;

        img {
            margin-bottom: 1rem;
        }

        div {
            text-align: center;
        }
    }

    .contact-section2 {
        height: auto;
        padding: $padding-responsive;

        .info-container {
            flex-direction: column;
            width: 100%;

            .map-container {
                width: 100%;
                height: 300px;
                border-right: none;
                border-bottom: 1.5px solid $grey-border;
                flex: 2;
            }

            .contact-info {
                width: 100%;
                padding: $padding-responsive;
                text-align: center;
                flex: 1;
            }
        }
    }

    .testimonials {
        flex-direction: column;
        align-items: center;

        .testimonial {
            width: 80%;
        }
    }
}