// Colores
$color-primary: #ff6600;
$color-secondary: #00fff0;
$color-text: #333;
$color-background: #f4f4f4;
$color-white: #fff;
$color-black: #000;

// Colores adicionales
$color-border: #ddd;
$color-text-light: #666;

// Tamaños de fuente
$font-size-small: 0.8em;
$font-size-normal: 1em;
$font-size-medium: 1.2em;
$font-size-large: 1.5em;
$font-size-xlarge: 2em;
$font-size-xxlarge: 3em;

// Espaciados
$spacing-small: 0.5em;
$spacing-normal: 1em;
$spacing-medium: 1.5em;
$spacing-large: 2em;
$spacing-xlarge: 3em;  // Nuevo espaciado extra grande

// Breakpoints
$breakpoint-mobile: 768px; // Ajusta este valor según tus necesidades

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button($bg-color: $color-primary, $text-color: $color-white) {
  display: inline-block;
  padding: 0.75em 1.5em;
  background-color: $bg-color;
  color: $text-color;
  border-radius: 5px;
  font-weight: 700;
  transition: background-color 0.4s ease;
  cursor: pointer;

  &:hover {
    background-color: darken($bg-color, 10%);
  }
}

@mixin back-arrow {
  position: absolute;
  top: $spacing-normal;
  left: $spacing-normal;
  font-size: $font-size-large;
  color: $color-white;
  padding: 0.25em;
  cursor: pointer;
  background: #2b2828;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
